$offWhite: #f3f3f3;
$lightGray: #ededed;
$midLightGray: #cfcfcf;
$midGray: #909090;
$midDarkGray: #646464;
$darkGray: #525252;
$mobileOptionsBackground: #6e6e6e;
$darkerGray: #414141;
$offBlack: #2c2c2c;

$deepBlue: #003060;

$errorRed: #ff4a4a;

$highlightGrayBlue: #6d7d92;

$desktopBreakpointWidth: 790px;
$desktopBreakpointHeight: 600px

