.main-canvas {
	cursor: inherit;
}

.brush-tool    {cursor: url('../img/brush-cursor.cur')       0 28, default;}
.eraser-tool   {cursor: url('../img/eraser-cursor.cur')      0 28, default;}
.zoom-in-tool  {cursor: url('../img/zoom-in-cursor.cur')     6 26, default;}
.zoom-out-tool {cursor: url('../img/zoom-out-cursor.cur')    0 15, default;}

// Keep hand near bottom of the cascade.
.hand-tool,
.shift-depressed,
.shift-depressed .inner-background,
.shift-depressed > .toolbox {
	cursor: url('../img/hand-cursor.cur') 6 26, default;
}

.player__button,
.info__button,
.patterns__button,
.patterns__group-name,
.pat,
.pat__link {
	cursor: pointer;
}

// Not sure why info__dimension-axis goes to text selection I-beam. TO DO: cleanup.
// Keep cursor from changing when it leaves the panel briefly during a fast drag.
.info__dimension-axis,
.panel--is-flinging,
.panel--is-flinging > div,
.panel--is-flinging > canvas,
.panel--is-flinging > svg {
	cursor: default;
}

// Hover edge of Resizable Panels. Don't let them glitch while moving.
// Override everything else.
.ns-resize-cursor,
.ns-resize-cursor > div,
.ns-resize-cursor ~ div,
.ns-resize-cursor canvas,
.ns-resize-cursor a,
.ns-resize-cursor input,
.ns-resize-cursor label {
	cursor: ns-resize;
}

.ew-resize-cursor,
.ew-resize-cursor > div,
.ew-resize-cursor ~ div,
.ew-resize-cursor canvas,
.ew-resize-cursor a,
.ew-resize-cursor input,
.ew-resize-cursor label {
	cursor: ew-resize;
}
