@font-face {
    font-family: 'noto_sansregular';
    src: url('../font/NotoSans-Regular-webfont.woff2') format('woff2'),
         url('../font/NotoSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wiki';
    src: url('../font/wiki-w.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
