.toolbox {
	width: 39px;
}

.toolbox__dragspot {
	height: 16px;
}

.toolbox__dragspot-image {
	display: block;
	height: 8px;
	margin: 0 auto;
	width: 37px;
}

.toolbox__tools {
	padding: 0 3px;
}

.toolbox__button {
	width: 100%;
}